@charset "utf-8";
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);
@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates);
@import url(https://fonts.googleapis.com/css?family=Comfortaa);
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

body {
  line-height: 1.5em;
  font-size: 14px;
  font-family: 'Montserrat Alternates',Arial, sans-serif;
}
/*-------login------ 5270F7 */
#font1{
  font-family: 'Montserrat Alternates',Arial, sans-serif;
  font-size: 25px;
  z-index: 1;
  color: black ;
  padding: 15px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(130, 123, 225, 1);
}
#font2{
  z-index: 1;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(130, 123, 225, 1);
}
.login-page {
  width: 360px;
  padding: 4% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: 'Montserrat Alternates',Arial, sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: 'Montserrat Alternates',Arial, sans-serif;
  font-size: 14px;
  background: #827BE1;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}


/*---- cierre del login*---*/

.mastfoot {
   position: fixed;
   bottom: 0;
   width: 100%;
   color: white;
  }
  /* ----------- */

  .container1{
    margin: 120px auto;
    width: 280px;
    height:200px;
}

/*------*/
#formulario {
  font-size: 12px;
  background-color: #fafafa;
  left: 360px; 
  border: 3px solid #73AD21;
  width: 800px;
  text-align: center;
  height:auto;
  padding:50px;
  background-color:#EEE;
  color:#333;
  border:2px solid #827BE1;
  border-radius:40px 0 40px 0
}
  
h2 {
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  font-size: 2.0em;
  line-height: 1.7em;
  margin-bottom: 10px;
  text-align: center;
 }

/*-----------------------------------------*/
 table {
  border-collapse: separate;
  background: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 25px auto;
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

thead {
  -moz-border-radius: 55px;
  -webkit-border-radius: 55px;
  border-radius: 55px;
}

thead th {
  color: #fff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  text-align: left;
  padding: 20px;
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #646f7f), color-stop(100%, #4a5564));
  background-image: -moz-linear-gradient(#646f7f, #4a5564);
  background-image: -webkit-linear-gradient(#646f7f, #4a5564);
  background-image: linear-gradient(#646f7f, #4a5564);
  border-top: 1px solid #858d99;
}

tbody tr td {
  font-weight: 400;
  color: #5f6062;
  font-size: 13px;
  padding: 20px 20px 20px 20px;
  border-bottom: 1px solid #e0e0e0;
}
tbody tr:nth-child(2n) {
  background: #f0f3f5;
}
tbody tr:last-child td {
  border-bottom: none;
}
tbody:hover > tr td {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
tbody:hover > tr:hover td {
  text-shadow: none;
  color: #2d2d2d;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}


/*---------------------------------------*/

#custom-search-input {
        margin:0;
        margin-top: 10px;
        padding: 0;
    }
 
#custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
       margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
#custom-search-input button {
        border: 0;
        background: none;
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#D9230F;
    }
/************************************/
