<style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;

      
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color:  #827BE1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding  */
      footer {
       background-color: #827BE1;
       padding: 5px;
       position: inherit;
       bottom: 0;
       width: 100%;
       color: white;
      text-align: center;      
    }
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
background-color: #827BE1;
      }
      .row.content {height:auto;} 
    }
  </style>